@import url("https://fonts.googleapis.com/css?family=Lobster|Montserrat&display=swap");

/* Variables */
:root {
  --Montserrat: "Montserrat", cursive;
  --border-color: rgba(0, 0, 0, 0.329);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  height: 100%;
  overflow: hidden;
  background: whitesmoke;
  font-family: var(--Montserrat);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98%;
  max-height: 100vh;
}

section {
  max-width: 35rem;
  width: 80%;
}

form {
  background: #fff;
  padding: 3.5rem 2rem;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 1rem;

  img {
    width: 50%;
    margin: 0 0 3rem;
  }

  .form-group {
    display: grid;
    grid-template-columns: 15% 85%;
    border: 1px solid var(--border-color);
    border-radius: 3rem;
    margin-bottom: 1.5rem;
    min-height: 4.4rem;

    &.focus {
      border: 1px solid;
      border-color: #2b5876;

      .form-input h5 {
        background-color: #fff;
        color: #2b5876;
        top: -0.2rem;
        left: -2rem;
        font-size: 1.2rem;
      }

      .input-icon {
        color: #2b5876;
      }
    }

    .form-input {
      position: relative;

      h5 {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: var(--border-color);
        font-size: 1.4rem;
        transition: 0.4s;
      }
    }

    .input-icon {
      color: var(--border-color);
      margin: auto;
      i {
        font-size: 1.6rem;
        min-width: 4.4rem;
      }
    }
  }
}

input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: none;
  padding-right: 1.5rem;
  border: none;
  font-family: var(--Montserrat);
  font-size: 1.3rem;

  &:focus {
    outline: none;
  }
}

button {
  font-family: var(--Montserrat);
  font-size: 1.2rem;
  background: linear-gradient(to right, #4e4376, #2b5876);
  width: 12rem;
  border: 0;
  border-radius: 3rem;
  padding: 1.2rem;
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient(to right, #30225e, #163c55);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
  }
}
